$primary-color: #FFEC93;
$secondary-color: #CCBC76;
$dark-complimentary: #807D70;
$medium-complimentary: #80764A;
$light-complimentary: #FFF9E0;
$dark-color: #333;
$medium-color: #555;
$light-color: #f4f4f4;

$primary-font: 'Roboto', sans-serif;