.container {
    max-width: 1200px;
    width: 86%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// background colors
.bg-dark {
    color: $light-color;
    background: $dark-color;
}

.bg-medium {
    color: $light-color;
    background: $medium-complimentary;
}

.bg-light {
    color: $dark-color;
    background: $light-complimentary;
}

// Buttons
%btn-shared {
    display: block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.btn {
    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background: $light-color;
        transition: all 450ms;

        &:hover,
        &:active,
        &:focus {
            background: $primary-color
        }

        &:visited {
            text-decoration: none
        }
    }

    &-dark {
        @extend %btn-shared;
        color: $light-color;
        background: $dark-color;
        transition: all 450ms;

        &:hover,
        &:active,
        &:focus {
            background: $light-color;
            color: $dark-color;
        }

        &:visited {
            text-decoration: none
        }
    }

    &-primary {
        @extend %btn-shared;
        color: $dark-color;
        background: $primary-color;
        transition: all 450ms;

        &:hover,
        &:active,
        &:focus {
            background: $dark-color;
            color: $light-color;
        }

        &:visited {
            text-decoration: none
        }
    }
}

.bottom-line {
    height: 3px;
    width: 7rem;
    background: $dark-color;
    display: block;
    margin: 0 auto;
}