@import "config";
@import "utilites";
@import "hamburger";
@import "media_player";

// Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}



i.material-icons {
    font-size: 2rem;
    width: 32px;
}

body {
    font-family: $primary-font;
}

#home-hero {
    background: url("../img/solenovis_band_2.jpg") no-repeat center center/contain;
    position: relative;
    top: 0;
    min-height: 36vh;
    background-size: 120%;
    background-color: $medium-complimentary;
    color: $light-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba($color: #333, $alpha: 0.5);
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    & #hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
        
            &:visited {
                text-decoration: none;
                color: inherit;
            }
        }

        h1 {
            padding: .2rem .4rem;
            font-weight: 500;
            border: 3px $light-color solid;
            width: fit-content;
            transition: all .5s ease-in-out;

            &:hover,
            &:focus,
            &:active {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    & > * {
        z-index: 2;
        position: relative;
    }
}

#out-now {
    background: url("../img/solenovis_out_now.jpg") no-repeat center center/cover;
    height: 60vh;
}

#media-player {
    padding: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba($light-color, $alpha: 0.85), $medium-complimentary);

    &-content {
        padding-bottom: 1.2rem;
        color: $dark-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2 {
            font-weight: 400;
            padding-bottom: 1rem;
        }
    }
}

#playlist-info {
    padding: 1.5rem 0;
    text-align: center;
    color: $light-color;

    h3 {
        padding: .2rem 0;
    }

    &-text {
        padding: 1rem 0;
    }

    #albums-purchase {
        padding: 1.6rem 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
        
            &:visited {
                text-decoration: none;
                color: inherit;
            }
        }

        i {
            width: 52px;
            margin: 0 .5rem;
            border: 2px solid $light-color;
            border-radius: 50%;
            padding: .5rem;
            transition: all .5s ease-in-out;
            
            &:visited {
                text-decoration: none;
                color: inherit;
            }

            &:hover,
            &:active,
            &:focus {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }

    .bottom-line {
        background-color: $light-color;
    }
}

#albums {
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-content-heading {
        padding: 1rem 0;

        h2 {
            font-weight: 400;
            padding-bottom: 1rem;
        }

        .bottom-line {
            background: $primary-color;
        }
    }

    h3 {
        font-weight: 400;
        padding-bottom: .2rem;
    }

    img {
        padding: 1.6rem 0;
    }
}

#youtube {
    padding: 2rem 0;
    background: linear-gradient(to bottom, rgba($light-color, $alpha: 0.85), $medium-complimentary);

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .iframe-container{
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; 
            height: 0;
            margin: 2rem 0;
        }

        .iframe-container iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-heading {
            h2 {
                font-weight: 400;
                padding-bottom: 1.2rem;
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $light-color;

        h3 {
            font-weight: 400;
            padding-bottom: 1.2rem;
        }
    }
}

#main-footer {
    background: $dark-color;
    color: #fff;
    
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 1rem;
        padding: 2rem 0 0 0;
        text-align: center;
        

        p {
            padding-bottom: .5rem;
        }


        .social .fab {
            border: 2px #f4f4f4 solid;
            border-radius: 50%;
            padding: 0.5rem;
            transition: all 450ms;
        }
    }

    .social {
        padding: .4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            color: inherit;
            transition: all .5s ease-in-out;
        
            &:visited {
                text-decoration: none;
                color: inherit;
            }

            &:hover i,
            &:active i,
            &:focus i {
                color: $primary-color;
                border-color: $primary-color;
            }
        }

        i {
            width: 56px;
            margin: 0 .5rem;
            border: 2px solid $light-color;
            border-radius: 50%;
            text-align: center;
            padding: .5rem;
            transition: all .5s ease-in-out;
        }
    }
}

#about {
    a {
        text-decoration: none;
        color: inherit;

        &:visited {
            text-decoration: none;
            color: inherit;
        }
    }

    &-hero {
        padding: 1rem 0;
    }

    &-content {
        padding: 1rem 0;

        &-heading {
            padding: 1rem;

            h1 {
                padding-bottom: 1rem;
            }

            .bottom-line {
                background: $medium-complimentary;
            }
        }

        &-text {
            padding: 1rem 0;

            p {
                line-height: 1.2rem;
            }
        }
    }
}

#members {
    padding: 1.4rem 0;

    &-content {
        #members-heading {
            padding: 0 0 1.4rem 0;

            h2 {
                padding-bottom: 1.4rem;
            }

            .bottom-line {
                background-color: $medium-complimentary;
            }
        }

        .members-bio {
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.4rem;
            background-color: $light-color;
            border-radius: 5px;
            box-shadow: 0px 6px 12px $medium-complimentary;
            margin: 1rem 0;
        }

        .members-card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.4rem;

            img {
                max-width: 50%;
            }

            h2 {
                font-weight: 400;
                font-size: 1.4rem;
            }

            h3 {
                font-weight: 400;
                color: $medium-complimentary;
            }
        }

        .card-reverse {
            flex-direction: row-reverse;
        }

        .member-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

// 404 page
#error {
    padding: 2rem 0 3rem 0;
    min-height: 90vh;

    h1 {
        text-align: center;
        padding: 1rem 0;
    }

    h3 {
        text-align: center;
        padding: 1rem 0 2rem;
    }

    .error-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .error-img {
        height: auto;
        min-width: 100%;
        padding: 1rem 0;

        img {
            min-width: 100%;
            height: auto;
        }
    }
}

@import "media";